{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta name="Author" content="Mateusz Grzeszczak">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body class="bg-dark text-light">


    {% block header %}

    {% endblock %}


    {% block content %}


    {% endblock %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
